<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>wowo</display-name>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.yc.filters.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.yc.servlets.InitServlet</servlet-class>
    <init-param>
      <param-name>uploadPath</param-name>
      <param-value>../wowoPic</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <listener>
    <listener-class>com.yc.listeners.MyServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>RolesServlet</servlet-name>
    <servlet-class>com.yc.servlets.RolesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolesServlet</servlet-name>
    <url-pattern>/rolesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminInfoServlet</servlet-name>
    <servlet-class>com.yc.servlets.AdminInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInfoServlet</servlet-name>
    <url-pattern>/adminInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypesServlet</servlet-name>
    <servlet-class>com.yc.servlets.TypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypesServlet</servlet-name>
    <url-pattern>/typesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.yc.servlets.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/userInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>com.yc.servlets.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/sendMailServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.yc.servlets.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/goodsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>com.yc.servlets.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/ordersServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.yc.servlets.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/shoppingServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>